{% extends "base.html" %} {% load static %} {% block title %}Vehicle {% endblock title %}
{% block content %}

<section class="container d-flex flex-column align-items-center">
  {% if vehicles %}
  <h1 class="title">Selecione o veiculo que melhor te atende</h1>
  <br /><br /><br />
  <div class="linha-produtos">
    {% for vehicle in vehicles %}
        <div class="corpo-produto">
          <h5 class="title">{{vehicle.title}}</h5>
          <div class="img-produto">
            <img src="{{vehicle.image.url}}" alt="" class="produto-miniatura" />
          </div>
          <div class="subtitulo">
            <p>{{vehicle.description}}</p>
            <p>A partir de</p>
            <h2>R${{vehicle.group.default_daily_price}}/dia</h2>
          </div>
          <a href="{% url 'rental' vehicle.model %}" class="text-decoration-none text-light"
            ><button class="button fixed-bottom" name="">
              Reservar Agora
            </button>
          </a>
        </div>
    {% endfor %}
  </div>
  {% else %}
    <h1 class="title">Não há veiculos cadastrados</h1>
  {% endif %}
</section>
{% endblock %}
