{% extends "base.html" %}
{% load static %}
{% block content %}

<section class="container d-flex flex-column align-items-center">
        <h1 class="title">Selecione o grupo de veiculos que melhor te atende</h1>
        <br><br><br>
        <h3 class="title">Carros</h3>
        <div class="linha-produtos">
            {% for car in cars %}
                <form action="">
                    <div class="corpoProduto">
                        <h5 class="title">{{car.title}}</h5>
                        <div class="imgProduto">
                            <img src="{{car.img}}" alt="" class="produtoMiniatura">
                        </div>
                        <div class="subtitulo">
                            <p>{{car.subtitle}}</p>
                            <p>A partir de</p>
                            <h2>R${{car.price}}/dia</h2>
                        </div>
                        <button type="submit" class="button" name="addcarrinho">Escolher Grupo</button>
                    </div>
                </form>
            
            {% endfor %}
            </div>
</section>
{% endblock %}